#userForm{
    color: black;
    text-align: center;
}

#userForm input{
    border: none;
    background: none;
    border-bottom: 1px solid lightgray;
}

#profileButton ,#profileDiscard{
    border-radius: 50px;
    margin: 10px;
}
#addPhoneNo{
    border-radius: 50px;
}

#addPhoneNo i{
    display: inline;
    border: none;
}

#profileDiscard{
    border-radius: 50px;
}

